/* app css stylesheet */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
} 

.wrapper {
  margin: 1%;
  height: 98%;
  width: 98%;
}

table.game {
  border-spacing: 0;
}

.card-wrapper {
  position: relative;
  width: 128px;
  height: 128px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 128px;
}

.animate-show {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show {
  opacity: 0;
}

.animate-show-active.animate-show-active {
  opacity: 1;
  background: white;
}
 
.animate-hide {
  opacity: 1;
}

.animate-hide-active.animate-hide-active {
  opacity: 0;
}