html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.header {
  width: 100%;
  height: 20px;
  background-color: #4D2D91;
  color: #FFFFFF;
}

.options {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 400px;
  height: 400px;
  margin: auto;
  text-align: center;
  background-color: #E1E1E8;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  border: 2px solid #CCCDE0;
}

.wrapper {
  width: 100%;
}

.game {

}

.game table {
  border-spacing: 0;
}

.card-wrapper {
  position: relative;
  width: 128px;
  height: 128px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 128px;
  height: 128px;
}

.animate-show {
  -webkit-transition: all linear 0.5s;
  -moz-transition: all linear 0.5s;
  -ms-transition: all linear 0.5s;
  -o-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show {
  opacity: 0;
}

.animate-show-active.animate-show-active {
  opacity: 1;
  background: white;
}
 
.animate-hide {
  opacity: 1;
}

.animate-hide-active.animate-hide-active {
  opacity: 0;
}

.status {
  float: right;
  padding: 0 10px 0 20px;
}

.play {
  background-image: url('../img/play.png');
  background-repeat: no-repeat;
  width: 256px;
  height: 256px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  color: transparent;
}

.levels a {
  text-decoration: none;
}

.levels a.active {
  color: #000;
  font-weight: bold;
}