<!doctype html>
<html lang="en" ng-app="gameApp">
<head>
  <meta charset="utf-8">
  <title>Memory Game</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="GameController">
  <div class="header">
    <span class="status">
      Matches: <strong>{{game.numberOfMatches()}}/{{game.totalMatches()}}</strong>
    </span>
    <span class="status">
      Tries: <strong>{{game.numberOfTurnedCards()}}</strong>
    </span>
  </div>
  <div class="options" ng-show="!game || game.isOver()">
    <div ng-show="game.isOver()">
      You won!
    </div>
    <span class="levels">
      <a  href="" ng-repeat="mode in modes" ng-click="selectMode(mode)" ng-class="{active: isModeSelected(mode)}">
        [{{mode.name}}]
      </a>
      <!-- <a href="" ng-class="{active: isModeActive('easy')}" ng-click="easyMode()">[easy]</a>
      <a href="" ng-class="{active: isNormalMode()}" ng-click="normalMode()">[normal]</a>
      <a href="" ng-class="{active: isHardMode()}" ng-click="hardMode()">[hard]</a> -->
    </span>
    <a href="" ng-click="play()" class="play" width="256" height="256">play</a>
  </div>
  <div class="game">
    <table ng-hide="game.isOver()">
      <tr ng-repeat="row in game.grid">
        <td ng-repeat="card in row" ng-click="game.turnCard(card)" ng-animate="match">
          <div class="card-wrapper">
            <img ng-src="img/{{card.image}}" width="128" height="128" ng-show="card.turned" ng-animate="{show: 'animate-show', hide: 'animate-hide'}" class="card" />
            <img src="img/wall.png" width="128" height="128" ng-hide="card.turned" ng-animate="{show: 'animate-show', hide: 'animate-hide'}" class="card" />
          </div>
        </td>
      </tr>
    </table>
  </div>

  <script src="lib/underscore-min.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/game.js"></script>
  <script src="lib/angular115/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
